@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:ital,wght@0,100;1,100&family=Roboto+Flex:opsz@8..144&display=swap');

/*Paars #5722CD;*/
/*Blauw #4845E4;*/
/*Roze #ED4385;*/
/*Zwart #0C0C0C (voor standaard tekst);*/
/*Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
/*                                                                                 Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)*/
/*Grijs #7A7A7A (voor de service-tegel tekst);*/

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 800;
}

h1 {
    font-size: 52px;
    line-height: 1.2;
}

p {
    margin: 20px 0;
    line-height: 1.6;
}


/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */


/* --------------- 3.1 Reusables ----------------------- */

.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-container {
    flex-basis: 1200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

footer {
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    border: 2px solid black;
}

/* --------------- 3.2 Other --------------------------- */
a,
a:visited,
a:link {
    text-decoration: none;
    color: #5722CD;
}

.hero-btn {
    padding: 10px 30px;
    color: #FFFFFF;
    background: deeppink;
    font-size: 12px;
    border-radius: 80px 80px;
    font-weight: 600;
}

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {
    background-color: #5722CD;
    color: #FFFFFF;
}

.header-navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-navigation ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 300px;
    align-items: center;
    padding: 20px 10px;
    font-size: 12px;
}

.content-header {
    text-align: center;
    align-content: center;
    flex-basis: 400px;
    margin: 50px 50px;
}

/* --------------- 4.2 Introduction ------------------- */
.inner-container-intro-section {
    background-color: #FFFFFF;
    color: #5722CD;
    text-align: center;
    width: 100%;
    flex-basis: 400px;
    margin: 70px 0 ;
}

.contact {
    color: black;
    font-size: 12px;
}

/* ------------------------------- 5. Article -------------------------------- */
.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.article-section {
    background-color: #F3F6F9;
    width: 100%;
    margin: 10px 10px;
}

.article-compleet1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.article-text1 {
    flex-basis: 500px;
    align-items: center;
    padding: 100px 50px;
    width: 100%;
    justify-content: space-between;
}

.article-image1 {
    flex-basis: 300px;
    width: 100%;
    padding: 40px 40px;
}

.article-compleet2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    order: revert;
}

.article-text2 {
    flex-basis: 500px;
    padding: 100px 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.article-image2 {
    flex-basis: 300px;
    width: 100%;
    padding: 40px 40px;
}

.article-compleet3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.article-text3 {
    flex-basis: 500px;
    align-items: center;
    padding: 100px 50px;
    width: 100%;
}

.article-image3 {
    flex-basis: 300px;
    width: 100%;
    padding: 40px 40px;
    max-width: 900px;

}

/* ------------------------------- 5. USP -------------------------------- */
.USP {
    background-color: #FFFFFF;
    font-size: 12px;
    color: #7A7A7A;
}

.usp-article img {
    max-width: 50px;
    margin: 16px 0;
}

.usp-article {
    display: inline;
    flex-basis: 350px;
    border: 2px solid purple;
    color: #5722CD;
    text-align: left;
    padding: 20px 20px;
}
.p-usp {
    font-size: 12px;
}
.inner-container__usp-grid{
    flex-basis: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px;
    row-gap: 20px;
    padding: 40px 0 ;
}

/* ------------------------------- 5. form -------------------------------- */
.outer-container-form {
    background-color: #5722CD;
    color: #FFFFFF;
    font-size: 12px;
}

.inner-container-form {
    flex-basis: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-section {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin: auto;
}
.form {
    margin: 50px 200px;
    padding: 50px 0;
}
.form-btn {
    padding: 5px 5px;
    color: #FFFFFF;
    background: deeppink;
    font-size: 12px;
    border-radius: 24px;
}